body {
  background-color: #f3f3f3;
}

.img-box {
  height: 250px;
  width: 400px;
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.img-box h2 {
  color: white;
  text-transform: uppercase;
  z-index: 1;
}

.img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 32, 78, 0.712);
  transition: 0.3s;
} */

.add-overlay {
  position: relative;
}

.add-overlay:hover::after {
  background-color: rgba(255, 255, 255, 0);
}

.add-overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 32, 78, 0.712);
  transition: 0.3s;
}

.img-box:hover .overlay {
  background-color: rgba(255, 255, 255, 0);
}

.title:hover::after {
  content: "---->";
}
.title::before {
  content: "<---";
}
